#body-home{
    background-color: rgb(236,235,227);
}

#body-servicios{
    background-color: rgb(236,235,227);
}

#body-etapas{
    background-color: rgb(236,235,227);
}

#body-obras{
    background-color: rgb(236,235,227);
}

#body-nosotros{
    background-color: rgb(236,235,227);
}

#body-contacto{
    background-color: rgb(236,235,227);
}