/* FUENTES  TITULOS */
@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+JP & display=swap');


/* FUENTES  SUBTITULOS */
@import url('https://fonts.googleapis.com/css2? family= Roboto+Mono:ital,wght@1,200 & display=swap');


/* FUENTES TEXTO*/
@import url('https://fonts.googleapis.com/css2? familia= Fuente+Sans+Pro:ital@1 & display=swap');
