@import "generales";
@import "fondo";
@import "fuentes";
@import "navbar";
@import "footer";


/* HOME */

.sectionInicio1{
   min-height: 82vh;
}

.videoInicio{
  height: 100%;
  width: 100%;
}

.sectionInicio2{
    min-height: 80vh;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionInicio3{
    min-height: 70vh;
    border-bottom: 2px solid black;
}

.sectionInicio4{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-inicio2{
    margin-bottom: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.texto-inicio2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.subtitulo-inicio3{
    font-family: 'Roboto Mono';
    font-size: 35px;
}

.texto-inicio3{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 17px;
}

.boton-inicio{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 15px;
    box-shadow: 5px 8px 12px black;
}

.boton-inicio:hover{
    background-color: rgb(255, 230, 43);
}

.titulo-inicio4{
    font-family: 'Bodoni Moda', serif;
    font-size: 70px;
}


/* SERVICIOS */

.section-servicio1{
    height: 90vh;
    border-bottom: 2px solid black;
}

.titulo-servicio1{
    height: 2em;
    font-family:'Noto Sans JP', sans-serif;
}

.subtitulo-servicio{
    font-family: 'Roboto Mono', monoespaciado;
}

.subtitulito-servicio{
    font-family: 'Roboto Mono', monoespaciado;
}

.caja{
    border: 2px solid black;
}





/* ETAPAS */

.img-banner{
    max-width: 100%;
}

.amarillo{
    color: yellow;
}

.border-etapas1{
    border-left: 3px solid black;
}

.border-etapas2{
    border-left: 3px solid yellow;
}

.etapa1{
    min-height: 50vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.etapa2{
    min-height: 50vh;
    background-color: rgb(35,31,32);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.etapa3{
    min-height: 50vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.etapa4{
    min-height: 50vh;
    background-color: rgb(35,31,32);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.etapa5{
    min-height: 50vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.etapa6{
    min-height: 50vh;
    background-color: rgb(35,31,32);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.etapa7{
    min-height: 50vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-etapas{
    background-color: rgb(35,31,32);
    color: white;
}





/* OBRAS */


/* NOSOTROS */

.titulo-nosotros{
    font-family: 'Noto Sans JP', sans-serif;
}

.texto-nosotros{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}

.equipo{
    width: 100%;
}

.subtitulo-nosotros2{
    font-family: 'Roboto Mono', monoespaciado ;
    font-size: 40px;
    border-bottom: 2px solid black;
}




/* CONTACTO */

.boton-contacto{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 15px;
}

.boton-contacto:hover{
    background-color: rgb(255, 230, 43);
}